.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results
/compile_commands.json
/.cache

# For /test/renderdiff dependencies
/mesa
/gltf
/filament-assets
/venv

# Build output left behind inside vendored third_party projects
/third_party/dawn/tools/android/build/
/third_party/libwebp/.gradle/